@import url('./tailwind.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
	--dot-bg: #edf2f6;
	--dot-color: rgb(238, 238, 238);
	--dot-size: 1px;
	--dot-space: 16px;
	background:
		radial-gradient(
				circle,
				var(--dot-color) var(--dot-size),
				transparent calc(var(--dot-size) + 1px)
			)
			center / var(--dot-space) var(--dot-space),
		var(--dot-bg);
}

:root {
	--border-gradient: linear-gradient(
		30deg,
		rgba(216, 216, 216, 0.226),
		rgba(255, 255, 255, 0.541),
		rgba(199, 199, 199, 0.304)
	);
	/* Default to no gradient for light mode */
}

.dark {
	--border-gradient: linear-gradient(
		30deg,
		rgba(179, 179, 179, 0.3),
		rgba(241, 241, 241, 0.551),
		rgba(90, 90, 90, 0.3)
	);
	/* Gradient for dark mode */
}

.border-gradient {
	position: relative;
}

.border-gradient::before {
	content: '';
	position: absolute;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	z-index: -1;
	background: var(--border-gradient);
	border-radius: inherit;
}

.border-gradient * {
	position: relative;
	z-index: 1;
}

.text-gradient {
	background-image: linear-gradient(32deg, rgb(69, 69, 186) 0%, rgba(0, 212, 255, 1) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.border-gradient::after {
	content: '';
	position: absolute;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	z-index: -1;
	background: linear-gradient(
		30deg,
		rgba(150, 150, 150, 0.45),
		#f6723a,
		rgba(255, 255, 255, 0.6),
		#f6723a,
		rgba(150, 150, 150, 0.45)
	);
	border-radius: inherit;
	opacity: 0;
	animation: borderGradientAnimation 4s ease infinite;
	background-size: 200% 200%;
	transition: opacity 0.3s ease;
}

.dark .border-gradient:hover::after {
	opacity: 1;
}

@keyframes borderGradientAnimation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.dark .border-gradient:hover::before {
	background: linear-gradient(
		30deg,
		rgba(150, 150, 150, 0.45),
		#f6723a,
		rgba(255, 255, 255, 0.6),
		#f6723a,
		rgba(150, 150, 150, 0.45)
	);
}

/* Custom Tooltip Theming */
.tippy-box[data-theme='custom'] {
	background: #ff5ff6;
	/* Black background */
	color: white;
	/* White text color */
	border-radius: 0.5rem;
	/* Slightly rounded corners */
	padding: 0.7rem;
	/* Padding inside the tooltip */
	font-size: 1.2rem;
	/* Larger font size */
	text-align: center;
}

.gradient-text {
	color: #005a9f;
}

.arrow-link {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	/* Make it round */
	width: 56px;
	/* Circle size */
	height: 56px;
	/* Circle size */
	transition: transform 0.3s ease;
	border: 3px solid #ff5ff6;
}

.arrow-link.white {
	border: 3px solid #ffffff;
}

.arrow-link svg {
	transform: rotate(-45deg);
	/* Rotate arrow to upper right */
	transition: transform 0.7s ease;
}

.arrow-link:hover svg {
	transform: rotate(0deg);
	/* Rotate back to right and move arrow */
}

.clickable-section {
	cursor: pointer;
}

.image-container {
	width: 100%;
	/* Set to desired width of the image */
	overflow: hidden;
	/* Hide parts of the image outside the container */
}

.image-container img {
	width: 100%;
	height: auto;
	transition: transform 0.5s ease-in-out;
	object-fit: cover;
}

.frosted-glass-section {
	/* Adjust the background color and opacity to your preference */

	/* Apply the frosted glass effect */
	backdrop-filter: blur(10px);
	/* Adjust the blur value as needed */
}

.avatar-wrapper {
	position: absolute;
	bottom: -40px;
	right: -150px;
	width: 800px;
	height: auto;
	z-index: 0;
}

.avatar-image {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
}

.eye-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

/* The eyes themselves */
.eye-left,
.eye-right {
	position: absolute;
	width: 60px;
	height: 60px;
	z-index: 2; /* ensure they’re on top of the avatar image */
	transition: transform 200ms ease-out;
}

/* Now tweak top/left or top/right to place them correctly. 
     Because .eye-container is the full size of the avatar, 
     you can use something like top: 30%; left: 40%, 
     or exact px if you prefer. */
.eye-left {
	top: 320px;
	left: 310px;
}

.eye-right {
	top: 320px;
	left: 443px;
}

@media (max-width: 1024px) {
	.avatar {
		display: none;
	}
}

.cool-contrast-gradient {
	color: rgb(0, 247, 255);
}

.bullets li::marker {
	color: #038cd0;
}

.nav-menu {
	position: relative;
	/* Ensure the nav menu has a positioning context */
}

.nav-underline {
	position: absolute;
	bottom: 4px;
	/* Position it at the bottom of the nav menu */
	height: 3px;
	width: 0px;
	background-color: #ff5ff6;
	transition:
		left 0.5s ease-out,
		width 0.5s ease-out;
	border-radius: 3px;
}

/* Define the transition effect for the text-transition class */
.long-transition {
	transition: 1s ease;
}

@media screen and (max-width: 1024px) {
	#nav-menu {
		flex-direction: column;
		position: absolute;
		top: 0;
		right: 0;
		width: 100vw;
		height: 100vh;
		border-radius: 12px;
		background-color: black;
		padding: 2rem;
		z-index: 50;
		font-size: 2rem;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
}
