@import url('./tailwind.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
	--dot-bg: #edf2f6;
	--dot-color: rgb(238, 238, 238);
	--dot-size: 1px;
	--dot-space: 16px;
	background:
		radial-gradient(
				circle,
				var(--dot-color) var(--dot-size),
				transparent calc(var(--dot-size) + 1px)
			)
			center / var(--dot-space) var(--dot-space),
		var(--dot-bg);
}

.border-gradient {
	border: 1px solid rgba(216, 216, 216, 0.425);
}

.border-gradient * {
	position: relative;
	z-index: 1;
}

.text-gradient {
	background-image: linear-gradient(32deg, rgb(69, 69, 186) 0%, rgba(0, 212, 255, 1) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

/* Custom Tooltip Theming */
.tippy-box[data-theme='custom'] {
	background: #ff5ff6;
	color: white;
	border-radius: 0.5rem;
	padding: 0.7rem;
	font-size: 1.2rem;
	text-align: center;
	box-shadow: 0px 10px 14px -4px rgba(0, 0, 0, 0.3);
}

.gradient-text {
	color: #005a9f;
}

.arrow-link {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	transition: transform 0.3s ease;
	border: 3px solid #ff5ff6;
}

.arrow-link.white {
	border: 3px solid #ffffff;
}

.arrow-link svg {
	transform: rotate(-45deg);
	transition: transform 0.7s ease;
}

.arrow-link:hover svg {
	transform: rotate(0deg);
}

.clickable-section {
	cursor: pointer;
}

.image-container {
	width: 100%;
	overflow: hidden;
}

.image-container img {
	width: 100%;
	height: auto;
	transition: transform 0.5s ease-in-out;
	object-fit: cover;
}

.frosted-glass-section {
	backdrop-filter: blur(10px);
}

.avatar-wrapper {
	position: absolute;
	bottom: -40px;
	right: -150px;
	width: 750px;
	height: auto;
	z-index: 0;
	pointer-events: none;
}

.avatar-image {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
}

.eye-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.eye-left,
.eye-right {
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 2;
	transition: transform 600ms ease-out;
}

.eye-left {
	top: 173px;
	left: 338px;
}

.eye-right {
	top: 174px;
	left: 410px;
}

@media (max-width: 1536px) {
	.avatar-image {
		width: 82%;
	}

	.eye-left,
	.eye-right {
		width: 35px;
		height: 35px;
	}
	.eye-left {
		top: 141px;
		left: 276px;
	}

	.eye-right {
		top: 142px;
		left: 333px;
	}
}

.cool-contrast-gradient {
	color: rgb(0, 247, 255);
}

.bullets li::marker {
	color: #038cd0;
}

.nav-menu {
	position: relative;
}

.nav-underline {
	position: absolute;
	bottom: 4px;
	height: 3px;
	width: 0px;
	background-color: #ff5ff6;
	transition:
		left 0.5s ease-out,
		width 0.5s ease-out;
	border-radius: 3px;
}

.long-transition {
	transition: 1s ease;
}

@media screen and (max-width: 1024px) {
	#nav-menu {
		flex-direction: column;
		position: absolute;
		top: 2vh;
		right: 2vw;
		width: 96vw;
		height: 96vh;
		border-radius: 2rem;
		border: 6px solid #ff5ff6;
		padding: 16rem 2rem;
		z-index: 50;
		font-size: 4rem;
		text-align: center;
		justify-content: space-between;
		align-items: center;
		backdrop-filter: saturate(180%) blur(8px);
		background-color: rgba(255, 255, 255, 0.8);
	}
}
