---
import Layout from '../layouts/Layout.astro';
import FavoriteBooks from '../components/FavoriteBooks.astro';
import Spotify from '../components/Spotify.astro';
---

<Layout title="About" description="About me page">
    <div class="2xl:col-span-4 xl:col-span-1 col-span-1 dark:bg-gradient-to-r from-dark-card to-darker-card rounded-lg flex flex-col items-center border-gradient bg-cover bg-center bg-no-repeat" style="background-image: url('/images/about.jpg');">
    
    </div>
    <div class="2xl:col-span-8 xl:col-span-2 col-span-2 dark:bg-gradient-to-r long-transition from-dark-card to-darker-card 2xl:px-48 xl:px-24 p-12 text-xl text-gray-500 dark:text-white  bg-white rounded-lg flex flex-col items-center border-gradient">
        <div class="bio space-y-4">
            <h1 class="text-3xl font-bold mb-4">About Me</h1>
            <p>Welcome! I'm <strong class="text-dark-text dark:text-white">André</strong>, an experienced <strong class="text-dark-text dark:text-white">front-end developer</strong> and digital strategist. Over the past decade, I've navigated the evolving tech landscape, specializing in creating intuitive and responsive web applications. My expertise spans a range of technologies, including React, various JavaScript frameworks, and modern CSS methodologies like Tailwind CSS.</p>
            <p>Apart from my professional endeavors, I have a keen interest in 3D modeling, photography, and exploring the vast potential of the Adobe Creative Suite. I enjoy combining my technical skills with creative pursuits to bring unique ideas to life. My personal projects, such as developing this website to share tech insights and maintain a 'Now' page, reflect my commitment to continuous learning and passion for technology.</p>
            <p>Living in Helsinki, I embrace the unique challenges and inspirations this city offers. Here, I balance my tech-focused life with outdoor hobbies like drone flying and mountain biking, providing a perfect blend of adventure and creativity. I'm also an avid collector of perfumes, each representing a unique story and experience.</p>
            <p>If you're interested in discussing the latest in tech, seeking collaboration on innovative projects, or just want to exchange thoughts on creative tech applications, feel free to reach out. I'm always open to new ideas and connections in the tech community.</p>
            <p>Best regards,<br><strong class="text-dark-text dark:text-white">André</strong></p>
        </div>
    </div>

    <FavoriteBooks bookWidth="w-24"/>
    <Spotify coverWidth="w-28" />
    
</Layout>

  

