---
import Layout from '../layouts/Layout.astro';
import FavoriteBooks from '../components/FavoriteBooks.astro';
import Spotify from '../components/Spotify.astro';

---

<Layout title="About" description="About me page">
    <div class="2xl:col-span-4 xl:col-span-1 col-span-1 dark:bg-gradient-to-r from-dark-card to-darker-card rounded-lg flex flex-col items-center border-gradient bg-cover bg-center bg-no-repeat xl:visible invisible" style="background-image: url('about2.jpg');">
    
    </div>
    <div class="2xl:col-span-8 xl:col-span-2 col-span-2 dark:bg-gradient-to-r long-transition from-dark-card to-darker-card 2xl:px-48 xl:px-24 p-12 text-xl text-gray-500 dark:text-white  bg-white rounded-lg flex flex-col items-center border-gradient">
        <div class="bio space-y-4">
            <h1 class="text-4xl font-header mb-4 tracking-wide">About Me</h1>
            
            <p>Hello, I'm <strong class="text-dark-text">André</strong>, a multifaceted <strong class="text-dark-text">front-end developer</strong> and designer. My tech odyssey began as a kid in the 90s with a Commodore 64, my first love in computing – where I was more likely to be found trying to outsmart 8-bit challenges than doing my homework. This whimsical start led to over two decades immersed in <strong class="text-dark-text">graphic design</strong> and <strong class="text-dark-text">web development</strong>. I've had the privilege of working with a wide array of clients and have thrived in diverse settings, both as a collaborative team member and as an independent freelancer.</p>

            <p>Currently, I am working at <a href="https://talentadore.com" target="_blank">Talentadore</a> as a front-end developer, where I continue to apply and enhance my skills in this dynamic field.</p>
            
            <p>My professional toolkit is extensive, with proficiencies in the Adobe Creative Suite, Figma, and modern web technologies like HTML5, CSS3, JavaScript, Node.js, MongoDB, React, and more. I am committed to creating seamless designs and user-centric development. Recently, I've been expanding my skills in 3D modeling with Blender and delving into web graphics through Three.js, showcasing my passion for learning and growth in the field.</p>
            
            <p>As a <strong class="text-dark-text">technology enthusiast</strong>, I am always intrigued by the latest trends and innovations. My interests span across VR, gadgets, home automation, and virtually everything tech-related. This enthusiasm for technology is a driving force in my personal and professional life, pushing me to explore and experiment with new ideas and tools.</p>
            
            <p>In my free time, I'm dedicated to activities that challenge me both mentally and physically. I enjoy learning chess, playing the piano, and engaging in sports like badminton, biking, and table tennis. Additionally, I'm a big fan of Rocket League, which combines my love for fast-paced gaming and teamwork. These activities not only provide a healthy balance but also contribute to my creative and analytical thinking.</p>
            
            <p>My blog is a reflection of my diverse interests and projects in the tech world, covering a range of topics and explorations. It's where I share my insights, learnings, and experiences with a wider audience.</p>
            
            <p>If you're looking for a developer with a unique blend of creativity, technical expertise, and a passion for the latest in technology, let's connect. I'm eager to bring my diverse skills and perspectives to your next project.</p>
            
            <p>Best regards,<br><br><strong class="text-dark-text">André</strong></p>
            
            
            
        </div>
            
        
    </div>

    <FavoriteBooks bookWidth="w-24"/>
    <!-- <Spotify coverWidth="w-28" /> -->
    
</Layout>

  

