---
import Layout from '../layouts/Layout.astro';
import FavoriteBooks from '../components/FavoriteBooks.astro';
import Spotify from '../components/Spotify.astro';
---

<Layout title="About" description="About me page">
    <div class="2xl:col-span-4 xl:col-span-1 col-span-1 dark:bg-gradient-to-r from-dark-card to-darker-card rounded-lg flex flex-col items-center border-gradient bg-cover bg-center bg-no-repeat" style="background-image: url('../src/images/about.jpg');">
    
    </div>
    <div class="2xl:col-span-8 xl:col-span-2 col-span-2 dark:bg-gradient-to-r long-transition from-dark-card to-darker-card 2xl:px-48 xl:px-24 p-12 text-xl text-gray-500 dark:text-white  bg-white rounded-lg flex flex-col items-center border-gradient">
        <div class="bio space-y-4">
            <h1 class="text-4xl font-header mb-4 tracking-wide">About Me</h1>
            <p>Hello, I'm <strong class="text-dark-text dark:text-white" >André</strong>, a front-end developer by profession, a digital craftsman by passion. My path in the tech landscape, fortified with a Media Design degree, mirrors a journey through a dense, uncharted digital forest, filled with endless challenges and peculiar discoveries.</p>
            
            <p>My expertise? A tapestry woven from the darkest threads of web development and design. HTML, CSS, and Tailwind CSS form the foundation, as robust as the ancient trees of Finnish forests. JavaScript, TypeScript, Ruby, Python, and Go are the tools of my trade, each a unique weapon in my arsenal. React, Vue, Redux, Jotai – these frameworks are the allies that stand by me in the ever-evolving war of web development.</p>
        
            <p>But there's more – databases like SQL and NoSQL, Docker, Kubernetes, cloud platforms such as AWS, GCP, and Azure, are the pillars of my digital fortress. I orchestrate microservices and serverless architectures with the precision of a chess grandmaster, a game I am currently learning. My skills in scaling services and resurrecting crashed systems with PM2 and Upstart are akin to playing a somber tune on a piano, another endeavor I'm exploring. Just like a symphony of complex notes, each aspect of technology I handle resonates with a purpose.</p>
        
            <p>When I'm not entrenched in the digital realm at <a href="https://www.talentadore.com" class="bg-orange text-white px-2 py-0 rounded">TalentAdore</a>, I indulge in hobbies that are a stark contrast to my professional life. 3D modeling, photography, and the Adobe Creative Suite are the creative outlets where I find solace. Recently, I've taken to FPV drone flying, a pursuit as thrilling as navigating the complex algorithms in my work.</p>
        
            <p>Living in Helsinki, Finland – a land known for its cold, dark, and often depressing climate, yet paradoxically famed for its happiest people – shapes my perspective. It's a land of contrasts, much like my own life, where the line between technology and art blurs, where the balance between light and dark is a constant dance.</p>
        
            <p>As for my personal projects, they reflect a continuous journey of learning and passion for all things tech. My website and 'Now' page are just the tips of an iceberg, beneath which lies a vast ocean of ongoing explorations and experiments.</p>
        
            <p>My perfume collection, each scent a reminder of a different phase of life, is as diverse as the array of technologies I've mastered. It's a collection that mirrors the myriad experiences I've encountered in both my personal and professional escapades.</p>
        
            <p>If you seek a conversation layered with tech insights, a dash of piano and chess strategy, or the occasional philosophical musing about the ironies of Finnish happiness, I'm your man. I'm always open to discussing new ideas, exploring innovative projects, or simply sharing a moment of introspection on the oddities of life.</p>
        
            <p>Best regards from the darker side of tech (with a touch of Finnish melancholy),<br><strong class="text-dark-text dark:text-white">André</strong></p>
        </div>
        
    </div>

    <FavoriteBooks bookWidth="w-24"/>
    <Spotify coverWidth="w-28" />
    
</Layout>

  

