---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getResolvedPosts } from '../scripts/getResolvedPosts';
const allPosts = await getResolvedPosts();
---

<Layout title="Blog" description="Latest blog posts">
    <div class="col-span-3 flex flex-col xl:col-span-1 2xl:col-span-3">
        <div
            class="long-transition flex flex-col mb-4 items-center rounded-md text-base sm:rounded-lg bg-about-gradient text-white p-6 shadow-lg sm:p-12 sm:text-md 3xl:text-lg"
        >
            <h2 class="long-transition mb-8 font-header text-4xl tracking-wide" transition:name="blog-header">Blog</h2>
            <p class="my-3 leading-relaxed">
                Welcome to my <strong class="font-semibold">Blog</strong>, a curated collection of my thoughts, experiences, and projects. Here, I dive into a wide range of topics that capture my curiosity and passion.
            </p>
            <p class="my-3 leading-relaxed">
                Whether you're interested in <strong class="font-semibold">tech explorations</strong>, creative endeavors, or deep dives into interesting challenges, this is the space where I share it all. Every post is a glimpse into my journey of learning, creating, and experimenting.
            </p>
            <p class="my-3 leading-relaxed">
                You'll find posts about my latest <strong class="font-semibold">projects</strong>, <strong class="font-semibold">insights</strong>, and <strong class="font-semibold">discoveries</strong>, all written with the hope of inspiring or helping others in their own pursuits.
            </p>
            <p class="my-3 leading-relaxed">
                Thank you for visiting and joining me on this journey.
            </p>
        </div>
    </div>
    
    <div class="col-span-3 xl:col-span-2 2xl:col-span-9">
    {allPosts.map((post) => (
        <div class="block col-span-12 bg-white rounded-md sm:rounded-lg shadow-xl cursor-pointer border-gradient group mb-4">
            <!-- Wrapping the entire post in an <a> tag -->
            <a href={post.url} class="flex flex-col items-center overflow-hidden rounded-t-md sm:rounded-t-lg lg:flex-row md:rounded-l-lg">
                
                <!-- Image Container with overflow-hidden -->
                <div class="w-full max-w-5xl overflow-hidden">
                    
      
        {post.frontmatter.image.src ? (
            <Image
              src={post.frontmatter.image.src}
              alt={post.frontmatter.image.alt || 'Default Alt Text'}
              width={1200}
              height={675}
              class="w-full transition duration-1000 transform group-hover:scale-125"
              loading="lazy"
              decoding="async"
            />
          ) : (
            <p>No image available</p>
          )}
                            
                </div>
                
                <!-- Text Content Container -->
                <div class="flex flex-col justify-center w-full p-6 2xl:p-24 sm:p-12 md:justify-between">
                    <div>
                        <h2 class="mb-4 text-md 2xl:text-3xl tracking-wide transition font-header long-transition">{post.frontmatter.title}</h2>
                        <p class=" text-gray-400 text-base">{post.frontmatter.description}</p>
                    </div>
                 
                </div>
            </a>
        </div>
    ))}
    </div>
</Layout>
