<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/tailwind.css">
    <link rel="stylesheet" href="/src/main.css">
    <style>
        .gradient-text {
            background: linear-gradient(45deg, #FB6B6B, #FBB03B);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
    <title>André's Portfolio</title>
</head>

<body class="dark:bg-dark-bg text-dark-text">
    <div class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-4 items-center">

         <!-- Intro Section -->
			<div class="lg:col-span-9 dark:bg-gradient-to-r from-dark-card to-darker-card p-12 rounded-lg flex items-center relative">
				<div class="z-10 flex-1">
					<h1 class="text-9xl font-bold whitespace-normal mb-12">
						Hi,<br>
						I'm <span class="gradient-text">André</span>
					</h1>
					<p class="text-gray-300 max-w-[50%] mb-12">
						I'm a multi-talented human specializing in design and development.
						Most of my time I design and build digital products. I possess a
						degree in Media Design and have worked on a multitude of web and
						print-based projects.
					</p>
					<!-- CTA Button with increased font size -->
					<button type="button" class="text-lg text-white font-bold py-2 px-4 rounded inline-flex items-center bg-gradient-to-r from-pink-500 to-yellow-500">
						Contact
					</button>
				</div>
				<img src="/images/profile.png" alt="André's Avatar" class="absolute left-[39%] bottom-0 w-full max-w-3xl">
			</div>

            <!-- Now Section -->
            <div class="md:col-span-3 bg-gradient-to-r from-dark-card to-darker-card p-12 rounded-lg h-full border-gradient">
                <h2 class="text-xl font-semibold">Now</h2>
                <p>Current focus or activity...</p>
            </div>

            <!-- Latest Blog Section -->
            <div class="md:col-span-3 md:row-span-2 bg-gradient-to-r from-dark-card to-darker-card p-12 rounded-lg h-full border-gradient">
                <h2 class="text-xl font-semibold mb-6">Latest Blog</h2>
                <h3 class="text-lg font-semibold text-white mb-4">
                    Building a Real-Time Chess Rating Display with Python and Pixoo
                </h3>
                <p class="text-gray-300 mb-6">
                    Discover how I created a real-time chess rating display using Python and the Chess.com API, showcased on a Pixoo display. It's a journey of technology and creativity, perfect for chess enthusiasts and Python programmers alike.
                </p>
                <a href="/blog/chess-rating-display" class="text-orange-600 hover:text-orange-800 transition duration-300">
                    Read More →
                </a>
            </div>

            <!-- About Section -->
            <div class="lg:col-span-3 bg-gradient-to-r from-dark-card to-darker-card p-12 rounded-lg h-full border-gradient">
                <h2 class="text-xl font-semibold">About</h2>
            </div>

            <!-- Latest Render Section -->
            <div class="lg:col-span-6 bg-gradient-to-r from-dark-card to-darker-card p-12 rounded-lg border-gradient">
                <h2 class="text-xl font-semibold">Latest Render</h2>
                <!-- Placeholder for Render Image -->
                <img src="/images/renders/vollrathdoV1edited.png" alt="Latest Render" class="rounded-lg ">
            </div>

            <!-- Spotify Section -->
            <div class="md:col-span-9 lg:col-span-9 bg-gradient-to-r from-dark-card to-darker-card p-12 rounded-lg border-gradient">
                <h2 class="text-xl font-semibold">Spotify Top 3 Last 3 Months</h2>
            </div>

            <!-- Links Section -->
            <div class="lg:col-span-4 bg-gradient-to-r from-dark-card to-darker-card p-12 rounded-lg border-gradient">
                <h2 class="text-xl font-semibold">Links</h2>
            </div>

            <!-- Countries Visited Section -->
            <div class="lg:col-span-8 bg-gradient-to-r from-dark-card to-darker-card p-12 rounded-lg border-gradient">
                <h2 class="text-xl font-semibold">Countries Visited</h2>
            </div>

            <!-- Based At Section -->
            <div class="lg:col-span-8 bg-gradient-to-r from-dark-card to-darker-card p-12 rounded-lg border-gradient">
                <h2 class="text-xl font-semibold">Based At</h2>
            </div>

            <!-- Contact Section -->
            <div class="lg:col-span-4 bg-gradient-to-r from-dark-card to-darker-card p-12 rounded-lg border-gradient">
                <h2 class="text-xl font-semibold">Contact</h2>
            </div>
        </div>
    </div>
</body>

</html>
