---
import Layout from "../layouts/Layout.astro";
import FavoriteBooks from "../components/FavoriteBooks.astro";
import Spotify from "../components/Spotify.astro";
import NowEntry from "../components/NowEntry.astro";
---

<Layout title="Now" description="What I'm doing now">
     <div class="flex flex-col 2xl:col-span-3 col-span-3">
        <div
            class=" dark:bg-gradient-to-r long-transition from-dark-card to-darker-card p-12 text-xl text-gray-500 dark:text-white bg-white rounded-lg flex flex-col items-center border-gradient"
        >
            <h2 class="font-body font-bold self-start mb-8 text-4xl long-transition">
            Now
            </h2>
            <p class="my-3 leading-relaxed">
            Welcome to my <strong>Now</strong> page, a unique space where I share what's
            currently engaging my attention. Unlike the more static "About" page, this
            page offers a window into my <strong>current world</strong>.
            </p>
            <p class="my-3 leading-relaxed">
            Here, you'll find out about the <strong>projects</strong> I'm involved in,
            the <strong>subjects</strong> that intrigue me, and where my passions currently
            lie. This page is like a snapshot of my <strong>life's priorities</strong>
            and activities at this moment.
            </p>
            <p class="my-3 leading-relaxed">
            It's an up-to-date glimpse into my journey, reflecting my latest <strong
                >interests</strong
            >, <strong>goals</strong>, and <strong>endeavors</strong>. This page is
            where I openly share what's important to me right now.
            </p>
            <p class="my-3 leading-relaxed">
            For more about the concept of a "Now" page, visit
            <a href="https://sivers.org/nowff" class="text-dark-text underline font-bold"
                >Derek Sivers' explanation</a
            >.
            </p>
        </div>
     </div>

  <NowEntry date="2024-02-06" colSpan="2xl:col-span-6 col-span-3">
    <div class="flex flex-wrap mb-4">
      <img id="tailwind-logo" class="w-72 h-auto" alt="Tailwind CSS Logo" />
      <img id="astro-logo" class="w-72 h-auto mr-2" alt="Astro.js Logo" />
    </div>
    <p>
      I'm currently immersed in the world of web development, exploring the
      capabilities of <strong>Astro.js</strong> and <strong>Tailwind CSS</strong
      > to craft efficient and responsive web applications.
    </p>
  

    <hr class="my-8" />
    <h3 class="mb-8">Currently practicing:</h3>

    <p>
      Currently, I'm also practicing the piano piece <strong
        >"Comptine d'un autre été"</strong
      > by Yann Tiersen, famously known from the movie Amélie.
    </p>
    <img
      src="../src/images/now/amelie.jpeg"
      alt="Sheet Music of Comptine d'un autre été"
      class="w-40 h-auto my-12"
    />

    <script>
      // Function to update logos based on the theme
      function updateLogos() {
        const theme = localStorage.getItem("theme") || "light"; // Default to light theme
        document.getElementById("astro-logo").src =
          theme === "dark"
            ? "../src/images/now/astro-logo-light-gradient.svg"
            : "../src/images/now/astro-logo-dark.svg";
        document.getElementById("tailwind-logo").src =
          theme === "dark"
            ? "../src/images/now/tailwindcss-logotype-white.svg"
            : "../src/images/now/tailwindcss-logotype.svg";
      }

      // Update logos on load and when theme changes
      updateLogos();
      document.addEventListener("theme-change", updateLogos);
    </script>
  </NowEntry>

  <div class="flex flex-col col-span-3">
    <FavoriteBooks bookWidth="w-24"/>
    <div class="mt-8">
    <Spotify coverWidth="w-24"/>
    </div>
    </div>

</Layout>
