<footer
	class="footer-bar flex items-center justify-center py-12 text-center text-sm text-gray-400 sm:text-base"
>
	<p>
		Handmade with ❤️ by <strong class="text-dark-text font-semibold">André Vollrath</strong> © 2025. <br />All
		rights reserved.
	</p>
</footer>
