<footer class="footer-bar py-12 flex justify-center items-center text-center text-gray-500">
  <p>Handmade with ❤️ by <strong class='text-dark-text'>André Vollrath</strong> © 2024. <br />All rights reserved.</p>
</footer>
