---
import ThemeIcon from './ThemeIcon.astro';
const currentPath = new URL(Astro.request.url).pathname;

const navItems = [
  { path: '/', label: 'Home', id: 'home-link' },
  { path: '/about', label: 'About', id: 'about-link' },
  { path: '/now', label: 'Now', id: 'now-link' },
  { path: '/renders', label: 'Renders', id: 'renders-link' },
  { path: '/blog', label: 'Blog', id: 'blog-link' },
];

---

<nav class="nav-bar mb-8 lg:col-span-3 dark:bg-gradient-to-r from-dark-card to-darker-card bg-white px-12 py-6 rounded-lg flex justify-between items-center border-gradient" data-border-gradient>
  <!-- Dark Mode Toggle -->
  <ThemeIcon />

  <!-- Hamburger Icon -->
  <div class="lg:hidden flex flex-col space-y-2 cursor-pointer" id="hamburger">
    <span class="block w-8 h-0.5 bg-dark-text"></span>
    <span class="block w-8 h-0.5 bg-dark-text"></span>
    <span class="block w-8 h-0.5 bg-dark-text"></span>
  </div>

  <!-- Navigation Links -->
  <div class="invisible lg:visible flex select-none font-header text-xl md:flex-row flex-col z-30" id="nav-menu">
    {navItems.map(item => (
      <a href={item.path} class={`nav-item px-4 py-2 text-gray-500 hover:text-dark-text transition ${currentPath === item.path ? 'gradient-underline dark:text-white' : ''}`} id={item.id}>{item.label}</a>
    ))}
  </div>
</nav>

