---

---

<div
	class="prose max-w-full text-gray-400 prose-headings:text-dark-text prose-h1:text-xl prose-h1:font-bold prose-h2:mx-auto prose-h2:max-w-fit prose-h2:rounded prose-h2:bg-orange prose-h2:p-2 prose-h2:font-header prose-h2:font-normal prose-h2:font-semibold prose-h2:text-white prose-p:text-justify prose-a:font-bold prose-a:text-dark-text prose-strong:text-dark-text prose-img:rounded-xl"
>
	<slot />
</div>
