---
import NavBar from '../components/NavBar.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'
import '../styles/marquee.css'
import '../styles/main.css'
const { title, description } = Astro.props
import { getImage } from 'astro:assets'
import faviconSrc from '../images/favicon.svg'
const favIcon = await getImage({ src: faviconSrc, format: 'svg' })
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<link rel="icon" href={faviconSrc.src} type="image/svg+xml" />
		<meta name="description" content={description} />
		<ViewTransitions />
	</head>
	<body class="bg-gray-50 font-body text-dark-text dark:bg-dark-bg dark:text-white">
		<div
			class="container mx-auto flex min-h-screen w-full max-w-1970 flex-col px-1 py-1 sm:px-4 sm:py-4 lg:px-4"
		>
			<NavBar />

			<!-- Main content area with 12-column grid layout -->
			<main class="flex-grow">
				<div class="grid grid-cols-1 gap-4 xl:grid-cols-3 2xl:grid-cols-12">
					<slot />
					<!-- Slot for page-specific content -->
				</div>
			</main>

			<Footer />
		</div>

		<script src="../scripts/interactiveSections.js"></script>
		<script>
			import { initializeTooltips } from '../scripts/initializeTooltips.js'

			const init = () => {
				initializeTooltips()
			}

			if (document.readyState === 'loading') {
				document.addEventListener('DOMContentLoaded', init)
			} else {
				init()
			}

			document.addEventListener('astro:after-swap', () => {
				init()
			})
		</script>
	</body>
</html>
