---
import NavBar from '../components/NavBar.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'
import '../styles/marquee.css'
import '../styles/main.css'
const { title, description } = Astro.props
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<ViewTransitions />
	</head>
	<body class="bg-gray-200 font-body text-dark-text dark:bg-dark-bg dark:text-white">
		<div class="grain"></div>
		<div class="container mx-auto flex min-h-screen w-full max-w-1920 flex-col px-4 py-8">
			<NavBar />

			<!-- Main content area with 12-column grid layout -->
			<main class="flex-grow">
				<div class="grid grid-cols-1 gap-8 xl:grid-cols-3 2xl:grid-cols-12">
					<slot />
					<!-- Slot for page-specific content -->
				</div>
			</main>

			<Footer />
		</div>

		<script src="../scripts/interactiveSections.js"></script>
		<script>
			import { initializeTooltips } from '../scripts/initializeTooltips.js'

			const updateTheme = (doc = document) => {
				const theme =
					localStorage.getItem('theme') ||
					(window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light')
				doc.documentElement.classList.toggle('dark', theme === 'dark')
				doc.dispatchEvent(new CustomEvent('theme-change'))
				if (doc.getElementById('checkbox')) {
					doc.getElementById('checkbox').checked = theme === 'dark'
				}
			}

			const handleCheckboxChange = () => {
				const checkbox = document.getElementById('checkbox')
				const isDark = checkbox.checked
				localStorage.setItem('theme', isDark ? 'dark' : 'light')
				updateTheme()
			}

			const init = () => {
				updateTheme()
				initializeTooltips()
				const checkbox = document.getElementById('checkbox')
				if (checkbox) {
					checkbox.addEventListener('change', handleCheckboxChange)
				}
				const hamburger = document.getElementById('hamburger')
				if (hamburger) {
					hamburger.addEventListener('click', () => {
						document.getElementById('nav-menu').classList.toggle('invisible')
					})
				}
			}

			if (document.readyState === 'loading') {
				document.addEventListener('DOMContentLoaded', init)
			} else {
				init()
			}

			document.addEventListener('astro:before-swap', (event) => {
				updateTheme(event.newDocument)
			})

			document.addEventListener('astro:after-swap', () => {
				init()
			})
		</script>
	</body>
</html>
